{% extends "e_layout.html" %}
{% block content %}
<div class='content-section'>
  <h3>{{loc.name}}</h3>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">DOB</th>
      <th scope="col">Phone #</th>
      <th scope="col">Patient Active</th>
      <th scope="col">Schedule Date</th>
      <th scope="col">Referring Provider</th>
      <th scope="col">Referral #</th>
    </tr>
  </thead>
  <tbody>
    {% for appointment in appointment_with_patient %}
    {% if appointment[0].status.value == "Pending" %}
    <tr id='apptTableRow' class='table-warning'>
      <th scope="row">{{ appointment[0].id}}</th>
      <td><a
          href="{{ url_for('employee.patient_inquiry', locationid=loc.id, appointmentid=appointment[0].id, _date=_date) }}">{{appointment[1].first}}
          {{appointment[1].last}}</a></td>
      <td>{{ appointment[1].dob.strftime("%m-%d-%Y") }}</td>
      <td>{{appointment[1].phone}}</td>
      <td>{{appointment[1].confirmed}}</td>
      <td>{{appointment[0].schedule_date_time.strftime("%m-%d")}}</td>
      <td>{{appointment[0].referring_provider}}</td>
      <td>{{appointment[0].referral_id}}</td>
    </tr>
    {% elif appointment[0].status.value == "Confirmed" %}
    <tr id='apptTableRow' class='table-success'>
      <th scope="row">{{ appointment[0].id}}</th>
      <td><a
          href="{{ url_for('employee.patient_inquiry', locationid=loc.id, appointmentid=appointment[0].id, _date=_date) }}">{{appointment[1].first}}
          {{appointment[1].last}}</a></td>
      <td>{{ appointment[1].dob.strftime("%m-%d-%Y") }}</td>
      <td>{{appointment[1].phone}}</td>
      <td>{{appointment[1].confirmed}}</td>
      <td>{{appointment[0].schedule_date_time.strftime("%m-%d")}}</td>
      <td>{{appointment[0].referring_provider}}</td>
      <td>{{appointment[0].referral_id}}</td>
    </tr>
    {% elif appointment[0].status.value == "Cancelled"%}
    <tr id='apptTableRow' class='table-danger'>
      <th scope="row">{{ appointment[0].id}}</th>
      <td><a
          href="{{ url_for('employee.patient_inquiry', locationid=loc.id, appointmentid=appointment[0].id, _date=_date) }}">{{appointment[1].first}}
          {{appointment[1].last}}</a></td>
      <td>{{ appointment[1].dob.strftime("%m-%d-%Y") }}</td>
      <td>{{appointment[1].phone}}</td>
      <td>{{appointment[1].confirmed}}</td>
      <td>{{appointment[0].schedule_date_time.strftime("%m-%d")}}</td>
      <td>{{appointment[0].referring_provider}}</td>
      <td>{{appointment[0].referral_id}}</td>
    </tr>
    {% else %}
    <tr id='apptTableRow' class='table-danger'>
      <th scope="row">{{ appointment[0].id}}</th>
      <td><a
          href="{{ url_for('employee.patient_inquiry', locationid=loc.id, appointmentid=appointment[0].id, _date=_date) }}">{{appointment[1].first}}
          {{appointment[1].last}}</a></td>
      <td>{{ appointment[1].dob.strftime("%m-%d-%Y") }}</td>
      <td>{{appointment[1].phone}}</td>
      <td>{{appointment[1].confirmed}}</td>
      <td>{{appointment[0].schedule_date_time.strftime("%m-%d")}}</td>
      <td>{{appointment[0].referring_provider}}</td>
      <td>{{appointment[0].referral_id}}</td>
    </tr>

    {% endif %}

    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block sidebar %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">{{ legend }}</legend>
      <div class="form-group">
        {{ form.location.label(class="form-control-label") }}
        {% if form.location.errors %}
        {{ form.location(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          > {% for error in form.location.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.location(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.date.label(class="form-control-label") }}
        {% if form.date.errors %}
        {{ form.date(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          > {% for error in form.date.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.date(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

{% endblock %}