{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">How does this work?</h1>
        <p class="lead">I wanted to empower patients to schedule screening quickly and easily.</p>
    </div>
</div>
{% endblock %}
{% block sidebar %}
<div class='content-section'>
    <h3>Useful Links</h3>
    <ul class='list-group'>
        <li class='list-group-item list-group-item-light'>
            <a class='text-secondary' href="#">Current Centers for Disease Control Guidelines</a>
        </li>
        <li class='list-group-item list-group-item-light'>
            <a class='text-secondary'
                href="https://www.utphysicians.com/covid19/?utm_source=Alert%20Banner&utm_medium=Information%20Center&utm_campaign=COVID-19&utm_content=COVID-19-Banner">What
                you need before you schedule</a>
        </li>
        <li class='list-group-item list-group-item-light'>
            <a class='text-secondary' href="#">Some other important info</a>
        </li>
    </ul>
</div>
{% endblock%}