{% extends 'layout.html' %}
{% block content %}
<table class="table table-hover table-responsive">
    <thead class='sticky-top'>
        <tr>
            <th scope="col">Time</th>
            {% for date in dates %}
            <th scope="col">{{date.strftime("%A, %B %d")}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for time in time_table.keys()  %}
        <tr>
            <th scope="row">
                {% if time.minute==0 %}
                {{ time.strftime('%I') }}:00{{time.strftime("%p")}}
                {% else %}
                {{ time.strftime('%I') }}:{{ time.minute }}{{time.strftime("%p")}}
                {% endif %}
            </th>
            {%for aS in time_table[time] %}
            {% for aS_  in aS%}
            {% if aS_.slot_1 == False%}
            <td><a class="btn btn-outline-success"
                    href="{{ url_for('public.my_appointment', locationid=location_id, date=aS_.date_time, request_time=time, aS_id=aS_.id) }}"
                    role="button">Available</a></td>
            {% else %}
            <td><a class="btn btn-outline-danger" href="#" role="button">Taken!</a></td>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block sidebar %}
<div class='content-section'>
    <h3 class='text-muted'>Select your preferred appointment time!</h3>
    <ol class='list-group'>
        <li>Scroll Table for Appointments from 8:00 am till 5:00 pm everyday.</li>
        <li>If the appointment is available, you may select it!</li>
        <li>If the appointment is taken, please choose another.</li>
        <li>Upon Selection, you will be directed to fill out a form with various biographical
            information.</li>
    </ol>
</div>
{% endblock%}