{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container" id='bigWelcomeContainer'>
    <h1 class="display-4">Welcome to the UT Physicians Coronvirus Screening Website</h1>
    <p class="lead">I wanted to empower patients to schedule screening quickly and easily.</p>
    <p class='lead'>Please allow UT Physicians to access your location to find a Testing Site close by</p>
  </div>
</div>
<div class='content-section' id='map'>
</div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>

{% endblock %}
{% block sidebar %}
<div class='content-section'>
  {% for location in locations %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ location.name }}</h5>
      <p class="card-text">{{ location.name }} is located at {{ location.address}}.</p>
      <a href="{{ url_for('public.samplelocation', locationid=location.id) }}">Get an Appointment Now</a>
      <p class='card=-text'>call for appointment, option {{location.id}}</p>
      <p class="card-text"><small class="text-muted">Hours of Operations: 8 am - 5pm</small></p>
    </div>
  </div>
  {% endfor %}
</div>
<script type='text/javascript'>
  let key = "{{ key }}";
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}callback=initMap">
</script>
{% endblock%}