{% extends "e_layout.html" %}
{% block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">DOB</th>
      <th scope="col">Select</th>
    </tr>
  </thead>
  <tbody>
    {% for patient in patients %}
    {% if patient.confirmed == True %}
    <tr id='apptTableRow' class='table-success'>
      <th scope="row">{{ patient.id}}</th>
      <td>{{patient.first}} {{patient.last}}</td>
      <td>{{ patient.dob.strftime('%m-%d-%Y') }}</td>
      <td><a
          href="{{ url_for('employee.reschedule_patient', patientid=patient.id) }}">Select</a></td>
    {% else %}
    <tr id='apptTableRow' class='table-danger'>
      <th scope="row">{{ patient.id}}</th>
      <td>{{patient.first}} {{patient.last}}</td>
      <td>{{ patient.dob.strftime('%m-%d-%Y') }}</td>
      <td><a
          href="{{ url_for('employee.reschedule_patient', patientid=patient.id) }}">Select</a></td>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}