{% extends "e_layout.html" %}
{% block content %}
<div class='content-section'>
  <h3>{{patient.first}} {{patient.last}}'s appointments</h3>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Location</th>
      <th scope="col">Appointment Day</th>
      <th scope="col">Appointment Time</th>
      <th scope="col">Select</th>
    </tr>
  </thead>
  <tbody>
    {% for appointment in appointments %}
    {% if appointment.confirmed == True %}
    <tr id='apptTableRow' class='table-success'>
      <th scope="row">{{ appointment.id}}</th>
      <td>{{  appointment.location }}</td>
      <td>{{  appointment.schedule_date_time.strftime('%m-%d-%Y') }}</td>
      <td>{{ appointment.schedule_date_time.strftime('%H:%M %p') }}</td>
      <td><a
          href="{{ url_for('employee.reschedule_choose_date', patientid=patient.id, appointmentid=appointment.id) }}">Select</a></td>
    {% else %}
    <tr id='apptTableRow' class='table-danger'>
      <th scope="row">{{ appointment.id}}</th>
      <td>{{  appointment.location }}</td>
      <td>{{  appointment.schedule_date_time.strftime('%m-%d-%Y') }}</td>
      <td>{{ appointment.schedule_date_time.strftime('%H:%M %p') }}</td>
      <td><a
          href="{{ url_for('employee.reschedule_choose_date', patientid=patient.id, appointmentid=appointment.id) }}">Select</a></td>
    {% endif %}
    {% endfor %}
  </tbody>t
</table>
{% endblock %}