{% extends "e_layout.html" %}
{% block content %}
<div class="content-section">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">{{ legend }}</legend>
			<div class="form-group">
				{{ form.first.label(class="form-control-label") }}
				{% if form.first.errors %}
				{{ form.first(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					> {% for error in form.first.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.first(class="form-control form-control-lg") }}
				{% endif %}
			</div>
      <div class="form-group">
				{{ form.last.label(class="form-control-label") }}
				{% if form.last.errors %}
				{{ form.last(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					> {% for error in form.last.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.last(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.date_of_birth.label(class="form-control-label") }}
				{% if form.date_of_birth.errors %}
				{{ form.date_of_birth(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					> {% for error in form.date_of_birth.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.date_of_birth(class="form-control form-control-lg") }}
				{% endif %}
        </fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</form>
</div>
{% endblock %}